<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sig.youness.models"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="21" />
	    <!-- Include required permissions for Google Mobile Ads to run-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!--This meta-data tag is required to use Google Play Services.-->
        <meta-data android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--Include the AdActivity configChanges and theme. -->
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name="sig.youness.models.ListActivity"></activity>
        <activity android:name="sig.youness.models.PhotoActivity"></activity>
        <activity android:name="sig.youness.models.grid.ViewImage"></activity>
        <activity android:name="sig.youness.models.SideMenuActivity"></activity>
        <activity android:name="sig.youness.models.JsoupActivity" ></activity>
        <activity android:name="sig.youness.models.utils.SingleItemView" ></activity>
        <activity android:name="sig.youness.models.CalenderActivity" ></activity>
        <activity android:name="sig.youness.models.weather.WeatherActivity"></activity>
    	<activity android:name="sig.youness.models.ormlite.ORMActivity"></activity>
    	<activity android:name="sig.youness.models.ormlite.StudentAddActivity"></activity>
    	<activity android:name="sig.youness.models.ormlite.TeacherAddActivity"></activity>    
   		<activity android:name="sig.youness.models.ormlite.ViewStudentRecordActivity"></activity>
   		<activity android:name="sig.youness.models.ormlite.ViewTeacherDetailsActivity"></activity> 
   		<activity android:name="sig.youness.models.ormlite.ViewTeacherRecordActivity"></activity>
   		
   					
   		</application>

</manifest>
